In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('student_results.csv')
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [3]:
# loc method

In [7]:
df.loc[9]

Student ID                1010
Class                       12
Study hrs                    6
Sleeping hrs                 9
Social Media usage hrs       1
Mobile Games hrs             0
Percantege                  85
Name: 9, dtype: int64

In [10]:
df.loc[[2, 9]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
2,1003,10,3,8,2,4,60
9,1010,12,6,9,1,0,85

In [13]:
# 'Class' column and 9th row

In [14]:
df.loc[9, 'Class']

12

In [15]:
df.loc[0:4, 'Class']

0    10
1    10
2    10
3    11
4    11
Name: Class, dtype: int64

In [21]:
df.loc[df['Class'] > 9, ['Percentage'] < 12]

TypeError: '<' not supported between instances of 'list' and 'int'

In [22]:
## iloc

In [23]:
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [24]:
df.iloc[0]

Student ID                1001
Class                       10
Study hrs                    2
Sleeping hrs                 9
Social Media usage hrs       3
Mobile Games hrs             5
Percantege                  50
Name: 0, dtype: int64

In [27]:
df.iloc[0]

Student ID                1001
Class                       10
Study hrs                    2
Sleeping hrs                 9
Social Media usage hrs       3
Mobile Games hrs             5
Percantege                  50
Name: 0, dtype: int64