# Series data strcutes

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.1'

In [3]:
# Create list

In [4]:
list_s = [1, 2, -3, 6.2, "data values"]
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [5]:
series1 = pd.Series(list_s)
print(series1)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [6]:
type(series1)

pandas.core.series.Series

In [7]:
# Creating a series using a short method

In [9]:
series2 = pd.Series([10, 20, 30, 40])
print(series2)

0    10
1    20
2    30
3    40
dtype: int64

In [10]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

In [12]:
# Apply index
series3 = pd.Series([10, 20, 30, 40], index = ['a', 'b', 'c', 'd'])
print(series3)

a    10
b    20
c    30
d    40
dtype: int64

In [15]:
# Convert to float
series4 = pd.Series([10, 20, 30, 40], index = ['a', 'b', 'c', 'd'], dtype = float)
print(series4)

a    10.0
b    20.0
c    30.0
d    40.0
dtype: float64

In [16]:
# Naming columns
series5 = pd.Series([10, 20, 30, 40], index = ['a', 'b', 'c', 'd'], name = "Data values")
print(series5)

a    10
b    20
c    30
d    40
Name: Data values, dtype: int64

In [18]:
# Creating a series out of scalar values:

scalar_s = pd.Series(0.5)
print(scalar_s)

0    0.5
dtype: float64

In [19]:
scalar_s = pd.Series(0.5, index=[1, 2, 3])
print(scalar_s)

1    0.5
2    0.5
3    0.5
dtype: float64

In [21]:
# Creating a sereis through a dictionary
dict_s = pd.Series({'a': 1, 'b' : 2})
print(dict_s)

a    1
b    2
dtype: int64

In [22]:
# Pandas series supports most NumPy operations

s4 = pd.Series([1, 2, 3, 4, 5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [23]:
# Access values

In [24]:
s4[0]

1

In [25]:
s4[3]

4

In [26]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [28]:
# Find maximum value in s4
max(s4)

5

In [29]:
min(s4)

1

In [30]:
s4[s4 > 3]

3    4
4    5
dtype: int64

In [31]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [34]:
s5 = pd.Series([10, 12, 13, 14, 15])
print(s5)

0    10
1    12
2    13
3    14
4    15
dtype: int64

In [35]:
s4 + s5

0    11
1    14
2    16
3    18
4    20
dtype: int64

In [36]:
# How to perform operations if the Series are unequal?

In [38]:
s6 = pd.Series([1, 2, 3])
print(s5,"n/n" s6)

SyntaxError: invalid syntax (<ipython-input-38-8996a5fdccb7>, line 2)