In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('VC_Startups_1.csv')
df

       Date  RD spent  Marketing Spent  Profit
0    1/7/19        13                2      55
1    2/7/19        12                3      56
2    3/7/19        11                4      57
3    4/7/19        10                5      58
4    5/7/19         9                6      59
5    6/7/19         8                7      54
6    7/7/19         7                8      53
7    8/7/19         6                9      52
8    9/7/19         5               10      51
9   10/7/19         4               11      50
10  11/7/19         3               12      60
11  12/7/19         2               13      65

In [5]:
df.dtypes

Date               object
RD spent            int64
Marketing Spent     int64
Profit              int64
dtype: object

In [6]:
type(df.Date[0])

str

In [4]:
# Here the 'Date' is an object.

In [7]:
# Therefore, we import the data using
# parse_date = ['COLUMN_NAME']

In [8]:
df = pd.read_csv('VC_Startups_1.csv', parse_dates= ['Date'])
df

         Date  RD spent  Marketing Spent  Profit
0  2019-01-07        13                2      55
1  2019-02-07        12                3      56
2  2019-03-07        11                4      57
3  2019-04-07        10                5      58
4  2019-05-07         9                6      59
5  2019-06-07         8                7      54
6  2019-07-07         7                8      53
7  2019-08-07         6                9      52
8  2019-09-07         5               10      51
9  2019-10-07         4               11      50
10 2019-11-07         3               12      60
11 2019-12-07         2               13      65

In [10]:
df.dtypes

Date               datetime64[ns]
RD spent                    int64
Marketing Spent             int64
Profit                      int64
dtype: object

In [11]:
# This has converted the date into datetime.

In [13]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp