# Data Frames are:
# - 2D
# - Size mutable
# - Heterogenous tabular data structere with labeled axis (rows and columns)
# - ^ Meaning every row and column will have a name

In [1]:
import pandas as pd

In [2]:
# Empty dataframe

In [5]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [6]:
# Create DF from list

lst = ['a', 'b', 'c']
print(lst)

['a', 'b', 'c']

In [8]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [9]:
df1

   0
0  a
1  b
2  c

In [10]:
# List of List for 2d
ls_of_ls = [[1, 2, 3]
           , [2, 3, 4],
           [4, 5, 6]]
ls_of_ls

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [11]:
df2 = pd.DataFrame(ls_of_ls)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [12]:
# Creating a DF from dictionary

In [13]:
# Dictionary of list

dict1 = {'ID': [11, 22, 33, 44]}
dict1

{'ID': [11, 22, 33, 44]}

In [15]:
df3 = pd.DataFrame(dict1)
df3

   ID
0  11
1  22
2  33
3  44

In [17]:
dict2 = {'ID': [11, 22, 33, 44],
        'SN' : [1, 2, 3, 4]}

df4 = pd.DataFrame(dict2)
df4

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

In [18]:
# Create DF from list-of-dictionaries

In [19]:
# List of dictionaries:
ls_dict = [{'a': 1, 'b' : 2},
          { 'a' : 3, 'b' : 4}]

ls_dict

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]

In [20]:
df5 = pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [21]:
ls_dict1 = [{'a': 1, 'b' : 2},
          { 'a' : 3, 'b' : 4, 'c' : 5}]

df6 = pd.DataFrame(ls_dict1)
df6

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [22]:
# DF from dic of series

In [25]:
dic_sr = {'ID' : pd.Series([1, 2, 3]),
          'SN' : pd.Series([111, 222, 333])}

df7 = pd.DataFrame(dic_sr)
df7

   ID   SN
0   1  111
1   2  222
2   3  333