In [1]:
import pandas as pd

In [2]:
# We use read_csv to read csv files

In [7]:
J = pd.read_csv('student_results.csv')
J.head()

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75

In [8]:
K = pd.read_csv('Top-10-IT-Companies-in-India.csv')

In [9]:
K.head()

  Top 10 IT Companies in India
0                          TCS
1                      Infosys
2                Tech Mahindra
3                        Wipro
4             HCL Technologies

In [10]:
# See where the file is stored:

In [11]:
import os

In [12]:
print(os.getcwd())

/Users/sidx/Learning_materials/Python-Data_Science-Self_Learn--O/2-Python-Pandas